{% extends 'base.html' %}

{% load static %}

{% block title %}Accessories{% endblock title %}


{% block body %}

 <div class="container my-4">

          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static '/2UN30AA-1_T1539242497.webp' %}"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">HP Keyboard 100</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static '/X6W31AA-1_T1576572932.webp' %}"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">HP Wireless Mouse 200</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static '/6HD76AA-1_T1565842738.webp' %}" alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">HP Wired Keyboard and Mouse 160</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static '/F5A28AA-1_T1539229284.webp' %}"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">HP HDMI to DVI Adapter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static '/J8F10AA-1_T1539232181.webp' %}"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">HP H2800 Black Headset</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static '/c05235161.webp' %}"  alt="Card image cap">
                <div class="card-body">
                  <p class="card-text">HP 65W 4.5mm LC AC Adapter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                      <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                  </div>
                </div>
              </div>
            </div>
            </div>
            </div>
          </div>
        </div>
<div class="container">

{% endblock body %}